.btn {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--nano) var(--small);
  background: linear-gradient(180deg, var(--white), var(--light-gray));
  border: none;
  border-radius: var(--nano);
  box-shadow: 0px 2px 4px var(--gray);
}

.btn span {
  display: inline;
  font-family: var(--primary-font);
  font-weight: var(--ultra);
  font-size: var(--mini);
  color: var(--black);
}
